<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

	<title>{% block title %}Welcome!{% endblock %}</title>
	
	{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="css/all.css"/>
		<!--[if lt IE 8]><link rel="stylesheet" href="css/ie.css" type="text/css" /><![endif]-->
	{% endblock %}
	

	
	
</head>
<body>
    {% block body %}


    {% endblock %}

    {% block javascripts %}
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/loopedslider.js"></script>
		<script type="text/javascript" src="js/looped-options.js"></script>
		<script type="text/javascript" src="js/slideBlock.js"></script>
		<script type="text/javascript" src="js/latte.js"></script>
		<script type="text/javascript" src="js/jquery.roundabout.min.js"></script>
		<script type="text/javascript" src="js/loader.js"></script>
		<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
		<script type="text/javascript" src="js/cufon.js"></script>
		<script type="text/javascript" src="js/cufon-fonts.js"></script>
		<script type="text/javascript" src="js/cufon-settings.js"></script>
		<script type="text/javascript" src="js/input.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

		<script type="text/javascript"> Cufon.now(); </script>
    {% endblock %}
    
</body>
</html>
